@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

.admin_login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  margin-bottom: 15px;
}

.admin_login_title {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.admin_form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.admin_form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.admin_form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.admin_form button:hover,
.admin_form button:active,
.admin_form button:focus {
  background: #43A047;
}

.admin_form .admin_message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.admin_form .admin_message a {
  color: #4CAF50;
  text-decoration: none;
}

.admin_form .admin_register-form {
  display: none;
}
